*{
    background-color: black;
    color: white; 
}
.header {
    margin-bottom: 5rem;
}
.header-content{
    border-bottom: 1px solid white;
}
.push-down {
    margin-bottom: 5rem;
}

a{
    color: white;
}
.button-left-space {
 margin-left: 2rem;
}
